:root {
  /* CSS HEX */
  --orange-crayola: #d1592c;
  /* --orange-crayola: #ff6b35ff; */
  
  --peach-crayola: #f7c59fff;
  --beige: #efefd0ff;
  --usafa-blue: #004e89ff;
  --sapphire-blue: #1a659eff;
}

body {
  background-color: var(--sapphire-blue);
  color: white;
}