:root {
  /* CSS HEX */
  --orange-crayola: #ff6b35ff;
  --peach-crayola: #f7c59fff;
  --beige: #efefd0ff;
  --usafa-blue: #004e89ff;
  --sapphire-blue: #1a659eff;

  /* CSS HSL */
  --orange-crayola: hsla(16, 100%, 60%, 1);
  --peach-crayola: hsla(26, 85%, 80%, 1);
  --beige: hsla(60, 49%, 88%, 1);
  --usafa-blue: hsla(206, 100%, 27%, 1);
  --sapphire-blue: hsla(206, 72%, 36%, 1);
}

body {
  background-color: var(--sapphire-blue);
  /* background-color: var(--beige); */
  /* color: black; */
  color: white;
  /* color: var(--sapphire-blue); */
}