.ResultsTable__title {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 12px;
  background-color: var(--orange-crayola);
  width: 230px;
  border-radius: 12px;
  padding: 8px 12px;
}
.ResultsTable {
  margin-bottom: 200px;
}